#home-wrapper{
  width: 100%;
  height: auto;
  max-width: 1380px;
  margin: auto;
  background-color: #f9e14b;
  padding-top: 20px;
  padding-right: 500px;
  padding-left: 500px;
  padding-bottom: 20px;
}

.buttons-content{
  display: flex;
  margin-bottom: 20px;
  text-align-last: center;
}


.icon{
  width: 170px;
  height: 150px;
  padding: 10px;
}

.button{
  padding: 5px;
  background-color: white;
  border-radius: 25px;
  margin-left: 10px;
  margin-right: 10px;
  width: 170px;
  text-align-last: center;
  cursor: pointer;
}

.button:hover{
  background-color: #dfdfdf;
}